<div class="page">
  <h1 class="chapter-title">JURADO DICTAMINADOR</h1>
  <br/><br/>
  <table class="jury-table">
    <tr>
      <td class="jury-label">Presidente:</td>
      <td class="jury-name">{{presidente}}</td>
      <td class="jury-signature">_________________________<br/><span class="jury-signature-label">Firma y Sello</span></td>
    </tr>
    <tr>
      <td class="jury-label">Secretario:</td>
      <td class="jury-name">{{secretario}}</td>
      <td class="jury-signature">_________________________<br/><span class="jury-signature-label">Firma y Sello</span></td>
    </tr>
    <tr>
      <td class="jury-label">Vocal:</td>
      <td class="jury-name">{{vocal}}</td>
      <td class="jury-signature">_________________________<br/><span class="jury-signature-label">Firma y Sello</span></td>
    </tr>
    <tr>
      <td class="jury-label">Suplente:</td>
      <td class="jury-name">{{suplente}}</td>
      <td class="jury-signature">_________________________<br/><span class="jury-signature-label">Firma y Sello</span></td>
    </tr>
  </table>
  <br/><br/>
  <div class="jury-note">Miembros del jurado designados según resolución N° __________________</div>
</div>
